html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
}

body {
  font-family: Arial;
  font-size: 14px;
  padding: 2em 2em 6em 2em;
  color: #333;
  line-height: 1.5;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  font-size: 18px;
  font-size: 1.4rem;
}

small {
  font-size: 14px;
  font-size: 1rem;
}

p {
  font-size: 14px;
  font-size: 1rem;
  margin: 0.5em 0;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;

  background: #333333; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #333333 0%, #222222 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#333333), color-stop(100%,#222222)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #333333 0%,#222222 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #333333 0%,#222222 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #333333 0%,#222222 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #333333 0%,#222222 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#222222',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}



